<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./stylesheets/css/style.css">
    <title>Home</title>
</head>

<body>


    <h1>Welcome to Sensory</h1>
    <button type="submit">add a sensor</button>
    <h2>Send 1 MB of data <button id="1MB" type="submit">Send</button></h2>
    <div>For Data</div>
    <h2>Send 5 MB of data <button id="5MB" type="submit">Send</button></h2>
    <div>For Data</div>
    <h2>Send 10 MB of data <button id="10MB" type="submit">Send</button></h2>
    <div>For Data</div>
    <h2>Send 25 MB of data <button id="25MB" type="submit">Send</button></h2>
    <div>For Data</div>
    <h2>Send 50 MB of data <button id="50MB" type="submit">Send</button></h2>
    <div>For Data</div>


</body>
<script src="/javascripts/clientside.js"></script>

</html>